<header class='page-header'>Admin &raquo; Dashboard
</header>

<div class='list-group'>
<a href="/admin/products" class='list-group-item'>
<h3>Total Products Available:</h3> 
<span class='label label-success'><%= @total_products %></span>
</a>
<a href="/admin/categories" class='list-group-item'>
<h3>Total Categories Available:</h3>
<span class='label label-success'><%= @total_categories %></span>
</a>
</div>
